<h1>Congratulations <%= @shoe_order.full_name %>, you've succesfully placed an order!</h1>

<h4>You ordered:</h4>

<p><%= @shoe_order.quantity %> pairs</p>

<h4>At this size</h4>

<p><%= @shoe_order.size %></p>